<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <p>Quien esta viendo ahora ?</p>
    <div class="container">
      
      <div class="perfil_1">
        <img src="/picture/user1.png" alt="" class="foto_perfil" />
        <p>Perfil 1</p>
      </div>
      <div class="perfil_2">
        <img src="/picture/user2.png" alt="" class="foto_perfil" />
        <p>perfil 2</p>
      </div>
      <div class="perfil_3">
        <img src="/picture/user3.png" alt="" class="foto_perfil" />
        <p>Perfil 3</p>
      </div>
    </div>
    <button>Administrar perfiles</button>
  </body>
</html>
